@import url('https://fonts.googleapis.com/css?family=Sacramento:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:100,200,300,400,500,600,700');
body{
    background: url(../images/cooking.jpg);
    background-size: cover;
    background-position: no-repeat;
    display: block;
    margin: 0;
}
.nav-item a{
    font-family: "Dancing Script", sans-serif;
    font-size: 25px;
    color: #fffff0;
}
.name{
    font-family: "Dancing Script", sans-serif;
    font-size: 100px;
    color: #fffff0;
    margin-top: 100px;
    margin-left: 300px;
    font-weight: 100;
}
.surname{
    font-family: "Dancing Script", sans-serif;
    font-size: 75px;
    color: #fffff0;
    margin-top: 0;
    margin-left: 500px;
}
.social-links{
    margin: 0;
}
.social-links 
.list-inline-item{
    margin-top: 50px;
    margin-left: 300px;
    padding: 5px;
}
.list-inline-item i{
    color: #FFFFF0;
}
.list-inline-item i:hover{
             color:tomato;
}
.personal-info-page {
             margin: 0;
}
.contact {
    margin-left: 0;
}
.personal-info-page h1 {
            margin-top: 25px;
            margin-left: 10px;
            font-family: "Sacramento",sans-serif;
            font-weight: 100;
            font-size: 30px;
            color: #FFFFF0;
            text-align: none;
}
.contact h1{
            margin-left: 70%;
            margin-top: 25px;
            font-family: "Sacramento",sans-serif;
            font-weight: 100;
            font-size: 30px;
            color: #FFFFF0;           
}
.contact a{
    text-decoration: none;
}
.personal-info-page a {
    text-decoration: none;
}
.home-page{
    font-family: "Sacramento", sans-serif;
    font-size: 50px;
    font-weight: 300;
    margin: 100px 100px 100px 100px;
    


}
.home-page a{
    color: #fffff0;
    text-decoration: none;

}
